.container-fluid{
    border-radius: 0px;
    margin: 0px;
    padding: 50px;
    background: rgb(143, 204, 151)
}


.control-label{
    border-radius: 0px;
    margin: 5px;
    background: rgba(34, 31, 224, 0.274)
}
.grupo-boton{
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(20, 124, 51)
  
}
.formulario{
    border-radius: 50px;
    margin: 20px;
    padding: 30px;
    background: rgba(3, 46, 16, 0.205)
}

ul.nav{
    display: inline-block;
    text-align: center;
}

