<div class="container-fluid">
  <div class="text-left">
    <h1>
      <hr> <div class="col-sm-6">
            <img width=20% height="100" src="../assets/logofar.jfif">        
       <b><u>FARMACIA AMIGA - REGISTRO</u></b></div>
    </h1>
    <hr> <hr>
</div>
  <div class="row">
        <div class="col-sm-2">
          <div class="btn-group-vertical">
              <div class="grupo-boton ">
              <button class="btn btn-md btn-block btn-success" type="submit">DATOS PERSONALES</button>
              <button class="btn btn-md btn-block btn-success" type="submit">DATOS LABORALES</button>
              <button class="btn btn-md btn-block btn-success" type="submit">HISTORIAL DE CONSUMO</button>
              <button class="btn btn-md btn-block btn-success" type="submit">SALIR</button>
              </div>
          </div>
        </div>
        <div class="formulario col-sm-9">
          <div >
            <div class="form-horizontal">
              <div class="form-group">
                <label for="codigo" class="control-label col-sm-2">
                Codigo de Usuario 
                </label>
                <div class="col-sm-3">
                  <input type="text"
                  class="form-control" id="codigo" name="codigo"[(ngModel)]="model.name"
                  placeholder="Ingresar un Codigo">
                </div>
              </div> 

              <div class="form-group">
                <label for="nombre" class="control-label col-sm-2">
                Nombre de Usuario 
                </label>
                <div class="col-sm-6">
                  <input type="text"
                  class="form-control" id="nombre" name="name"[(ngModel)]="model.name"
                  placeholder="Ingrese su Nombre">
                </div>
              </div>

              <div class="form-group">
                <label for="domicilio" class="control-label col-sm-2">
                Domicilio
                </label>
                <div class="col-sm-8">
                  <input type="data"
                  class="form-control" id="domicilio" name="domicilio" [(ngModel)]="model.domicilio"
                  placeholder="Ingrese su domicilio">
                </div>
              </div>

              <div class="form-group">
                <label for="codigo" class="control-label col-sm-2">
                Fecha de Nacimiento 
                </label>
                <div class="col-lg-4">
                  <input type="text"
                  class="form-control" id="fecha_nacimiento" name="fecha_nac"[(ngModel)]="model.name"
                  placeholder="Ingresar Fecha de Nacimiento">
                </div>
              </div>

              <div class="form-group">
                <label for="lugar" class="control-label col-sm-2">
                  Lugar de Nacimiento 
                </label>
                <div class="col-sm-5">
                    <input type="text"
                    class="form-control" id="lugar_nac" name="lugar_nac"[(ngModel)]="model.lugar"
                    placeholder="lugar de nacimiento">
                </div>
              </div>  

            </div> 
        <div class="menu text-right">
        <button type="submit" class="btn btn-primary" (click)="registro()">
          GUARDAR
        </button>
      </div> 			  
      </div> 
      </div>
    </div>
         <div class="nav-right" class="ul.nav">
          <a href="http://localhost:4200/principal">|Pagina Principal|</a>
      <a href="http://localhost:4200/productos">|productos|</a>
      <a href="#">|Historial de Consumo|</a>
      <a href="http://google.com.bo">|Salir|</a>
       
      </div>    
  
</div>