<div class="container app">

  <div class="formulario col-lg-11.5">
    <h1>PRODUCTOS</h1>
  </div>
  <div class="container">
    <table class="table table-bordered table-hover">
      <tr>
        <th>imagen de producto 1</th>
        <th>imagen de producto 2</th>
        <th>imagen de producto 3</th>
      </tr>
      <tr>
        <td img src="../assets/carrito.jpg" alt="Mountain View">producto 1</td>
        <td>producto 2</td>
        <td>producto 3</td>
      </tr>
      <tr>
        <td>icono carrito 1</td>
        <td>icono carrito 2</td>
        <td>icono carrito 3</td>
      </tr>  
    </table>  
  </div>
  </div>