<div class="container-fluid">
  <div class="text-left">
    <h1>
      <hr> <div class="col-sm-6">
            <img width=20% height="100" src="../assets/logofar.jfif">        
       <b><u>FARMACIA AMIGA - PRODUCTOS</u></b></div>
    </h1>
    <hr> <hr>
</div>
  <div class="container">
    <table class="table table-bordered">
      <tr>
        <th><u>BAGOCILETAS</u></th>
        <th><u>BUSCAPINA</u></th>
        <th><u>NEUROBION</u></th>
      </tr>
      <tr>
        <td><img width=50% height="200" src="../assets/bagociletas.jpg" alt="no hay imagen"></td>
        <td><img width=50% height="200" src="../assets/buscapina.jpg" alt="no hay imagen"></td>
        <td><img width=50% height="200" src="../assets/neurobion.jpg" alt="no hay imagen"></td>
      </tr>
      <tr>
        <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
        <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
        <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
      </tr>   
    </table> 
  </div>
    <div class="container">
      <table class="table table-bordered">
        <tr>
          <th><u>PARACETAMOL</u></th>
          <th><u>DICLOFENACO</u></th>
          <th><u>AMOXICILINA</u></th>
        </tr>
        <tr>
          <td><img width=50% height="200" src="../assets/trioval.jpg" alt="no hay imagen"></td>
          <td><img width=50% height="200" src="../assets/diclofenaco.jpg" alt="no hay imagen"></td>
          <td><img width=50% height="200" src="../assets/amoxicilina.jpg" alt="no hay imagen"></td>
        </tr>
        <tr>
          <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
          <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
          <td><a href="http://localhost:4200/detalle"><img src="../assets/carrito.png" alt="COMPRAR" style="width:62px;height:42px;border:0"></a></td>
        </tr>  
      </table> 
    </div> 
    <div class="nav-right" class="ul.nav">
      <a routerLink="/principal">|Pagina Principal|</a>
      <a routerLink="/detalle">|Registrarse|</a>
      <a routerLink="////">|Historial de Consumo|</a>
      <a href="http://www.google.com.bo">|Salir|</a>
   
  </div>    
 
  </div>