.container-fluid{
    border-radius: 0px;
    margin: 0px;
    padding: 50px;
    background: rgb(143, 204, 151)
}

.table{
    border-radius: 10px;
    width: 100%;    
    text-align:  center;
    background: rgba(3, 46, 16, 0.205)
}
