<div class="container app">
  <div class="text-left">
      <h1>
          FARMACIA AMIGA
      </h1>
  </div>
    <div class="menu text-right">
        <button class="btn btn-secondary custom-button-width" type="submit">principal</button>
        <button class="btn btn-secondary custom-button-width" type="submit">nosotros</button>
        <button class="btn btn-secondary custom-button-width" type="submit">mision/vision</button>
        <button class="btn btn-secondary custom-button-width" type="submit">productos</button>
    </div>   
      <div class="row">
        <div class="col-sm-4">
            <img width=100% height="450" src="../assets/ubicacion.jpg">
        </div>
        <div class="col-sm-8">
            <img width=100% height="450" src="../assets/portada.jpg">
        </div>
      </div>
</div>
