<div class="container-fluid">
    <div class="text-left">
        <h1>
          <hr> <div class="col-sm-6">
                <img width=20% height="100" src="../assets/logofar.jfif">        
           <b><u>FARMACIA AMIGA - PRINCIPAL</u></b></div>
        </h1>
        <hr> <hr>
    </div>
    <div class="menu text-right">
        <button class="btn btn-primary custom-button-width" type="submit">NOSOTROS</button>
        <button class="btn btn-primary custom-button-width" type="submit">REGISTRO</button>
        <button class="btn btn-primary custom-button-width" type="submit">MISION/VISION</button>
        <button class="btn btn-primary custom-button-width" type="submit">PRODUCTOS</button>
    </div>   
      <div class="row">
        <div class="col-sm-4">
            <img width=100% height="450" src="../assets/mapa.jfif">
        </div>
        <div class="col-sm-8">
            <img width=100% height="450" src="../assets/medicamentos.jfif">
        </div>
      </div>
</div>

